html, body {
  margin: 0;
  padding: 0;
  font-family: "helvetica neue", Arial, sans-serif;
}





.filter-options {
  ul {
    /*max-width: 60%;*/
    padding: 0;
  }
  li {
    margin: 0;
  }
  input {
    border-radius: 0;
    font-size: 1.25rem;
    border: 1px solid black;
    padding: 1rem;
    transition: all 0.1s;
  }
  input:hover {
    color: white;
    background-color: black;
  }
}

.word-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: garamond;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
    color: black;
    /*line-height: 0;*/
  }

  a:hover {
    border-bottom: 2px solid black;
  }

  .letter-list {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    line-height: 0.8em;
  }

  .letter {
    font-size: 3rem;
    font-family: "helvetica neue", Arial, sans-serif;
  }

  .tag-list {
    padding: 0.25rem 0;
    font-size: 0.75rem;
    font-family: "helvetica neue", Arial, sans-serif;
    color: rgba(0,0,0,0.7);
  }
}

.word-set-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  h1 {
    font-family: garamond;
    font-size: 3rem;
    font-weight: 400;
  }

  p {
    max-width: 20rem;
  }
}


#nav {
  font-size: 2rem;
  padding: 1rem;

  a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 1.5rem;
    color: black;
    &.router-link-exact-active {
      border-bottom: 2px solid black;
    }
  }
  input {
    float: right;
    /*height: 2rem;*/
    padding: 0.5rem;
  }
}
