ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li {
    padding: 15px;
  }
}

.filter-options {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
  border-top: 1px solid black;
}