

.controls {
	position: fixed;
	bottom: 2.56rem;
	margin: 0 2.56rem;
	z-index: 999;

	#show-controls {
		padding: 0.5rem 0.5rem 0;
		margin-top: 1rem;
		box-shadow: 2px 3px 0px black;
	}
}

.controls, .options {
	button, input {
		font-size: 1rem;
		border-radius: 0;
		border: 1px solid black;
		padding: 0.5rem 1rem;
	}
}

.search-container {
	margin: 0 auto;
	display: flex;
	align-items: center;
	border: 1px solid;
	background: white;

	img {
		padding: 0.5rem;
	}

	.search {
		box-shadow: none;
		border: none;
		line-height: 1.6rem;

		&:hover {
			cursor: text;
		}

		&:focus {
			color: black;
			outline: none;
		}
	}
}

#instructions {
	padding: 0.5rem 1rem;
	margin: 2.56rem auto;
	border: 1px solid black;
}
