.home {
  
}

aside {
  position: fixed;
  right: 0;

  input {
    margin: .5rem;
    display: block;
  }
}

ul {
  // display: flex;
  // flex-wrap: wrap;
  list-style: none;

  li {
    // padding: 15px;
  }
}

input {
  border-radius: 0;
  font-size: 1rem;
  margin: 0 .5rem;
  border: 1px solid black;
  box-shadow: 2px 3px 0px black;
  padding: 0.5rem 1rem;
}

input:not([type='text']) {
  transition: all 0.1s;
}

@mixin active-filter {
  color: white;
  background-color: black;
}

input.active, input:not([type='text']):hover {
  @include active-filter;
}