@import 'assets/css/normalize.css';
@import './mixins.scss';

@font-face {
	font-family: "Acumin";
	font-display: auto;
	src:	url('assets/fonts/AcuminPro-Regular.eot'),
				url("assets/fonts/AcuminPro-Regular.otf") format("ttf"),
				url("assets/fonts/AcuminPro-Regular.woff") format("woff"),
				url("assets/fonts/AcuminPro-Regular.woff2") format("woff2"),
				url('assets/fonts/AcuminPro-Regular.ttf') format('truetype'),
				url('assets/fonts/AcuminPro-Regular.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family: 'Romana Std Bold';
	font-display: auto;
	src: url('assets/fonts/RomanaBold.eot');
	src: url('assets/fonts/RomanaBold.eot?#iefix')
		format('embedded-opentype'),
		url('assets/fonts/RomanaBold.woff2')
		format('woff2'),url('assets/fonts/RomanaBold.woff')
		format('woff'),url('assets/fonts/RomanaBold.ttf')
		format('truetype');
}

@font-face {
	font-family: 'RomanaBTWXX-Roman';
	font-display: auto;
	src: url('assets/fonts/RomanaReg.eot');
	src: url('assets/fonts/RomanaReg.eot?#iefix')
		format('embedded-opentype'),
		url('assets/fonts/RomanaReg.woff2')
		format('woff2'),url('assets/fonts/RomanaReg.woff')
		format('woff'),url('assets/fonts/RomanaReg.ttf')
		format('truetype');
}

html {
  scroll-behavior: smooth;
}

html, body {
	padding: 0;
	font-family: "Acumin", sans-serif;
	color: #121212;
}

body {
	max-width: 1300px;
	margin: 0 auto;
}

body.modal-open {
	position: fixed;
	overflow: hidden;

	*:not(modal *) {
		pointer-events: none;
		color: transparent;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

	.modal * {
		text-shadow: none;
		color: black;
		pointer-events: auto;
	}
}

h1, h2, h3 {
	margin: 0.67em 0;
	letter-spacing: -0.02125em;
	line-height: 1em;
}

h1 {
	font-size: 4.096rem;
	font-family: 'Romana Std Bold', Georgia, Times, "Times New Roman", serif;
}

h2 {
	font-size: 2.56rem;
	font-family: 'Romana Std Bold', Georgia, Times, "Times New Roman", serif;
}

h3 {
	font-size: 1.6rem;
}

.light {
	font-family: "RomanaBTWXX-Roman";
	line-height: 1.0625em;
}

ul {
	list-style: none;
}

p, li {
	font-size: 1rem;
	line-height: 1.6em;
}

p, sup {
	max-width: 32em;
}

.ba {
	border: 1px solid black;
}

.by {
	border: 1px solid gold;
}

.container {
	margin: 2.56rem;

	@include break(small) {
		margin: 1.6rem;
	}
}

.home {
	// margin: 0 2.56rem;
	column-count: 2;

	@include break(small) {
		column-count: 1;
		// margin: 1.6rem;
	}
}

main, nav, section {
	display: block;
}

img {
	width: 28px;
}

a {
	color: #121212;

	&:hover {
		cursor: pointer;
		font-weight: bold;
	}
}

button {
	border: 0;
	width: fit-content;
}

button, input {
	font-size: 1rem;
	background: white;

	&:hover {
		cursor: pointer;
	}
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
  outline: none;
}

#instructions {
	padding: 0.5rem 1rem;
	margin: 2.56rem auto;
	border: 1px solid black;
}

nav {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[10];
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 1rem;
	// margin: 2.56rem;
	margin-bottom: 4.096rem;

	@include break(small) {
		// margin: 1.6rem;
		-ms-grid-columns: (1fr)[3];
		grid-template-columns: repeat(3, 1fr);
	}

	.about {
		-ms-grid-column: 10;
		grid-column-start: 10;
		margin-top: 1.46rem;
		font-size: 2.197rem;

		@include break(medium) {
			font-size: 1.6rem;
			margin-top: 0.96rem;
		}

		@include break(small) {
			-ms-grid-column: 6;
			grid-column-start: 6;
			font-size: 1.6rem;
			margin-top: 1.6rem;
		}

		a {
			text-decoration: none;
			display: inline-block;
		}
	}

	.logo {
		-ms-grid-column: 2;
		grid-column-start: 2;
		-ms-grid-column-span: 7;
		grid-column-end: 9;
		padding: 0;
		width: fit-content;

		@include break(small) {
			-ms-grid-column: 1;
	    grid-column-start: 1;
			-ms-grid-column-span: 1;
			grid-column-end: 2;
		}


		h1 {
			margin: 0;
			margin-left: -0.75rem;

			@include break(small) {
				font-size: 1.6rem;
				margin-left: 0;
			}

			@include break(medium) {
				font-size: 2.56rem;
				margin-left: -0.5rem;
			}


		}

		a:first-child {
			display: block;
		}

		span {
			font-weight: 400;
			font-size: 1rem;
			// margin-left: 0.7em;

			@include break(small) {
				font-size: 0.625rem;
				margin-left: 0;
				white-space: nowrap;
			}
		}
	}
}

.home, h1 > {
	a {
		text-decoration: none;
	}
}

.visuallyhidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
